SONAR_HOST_URL=http://localhost:9000
SONAR_TOKEN_PLASSY_APP=sqp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SONAR_TOKEN_PLASSY_BACKEND=sqp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SONAR_TOKEN_PLASSY_CONTRACTS=sqp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SONAR_TOKEN_PLASSY_FRONTEND=sqp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
