[submodule "plassy-app"]
	path = plassy-app
	url = git@github.com:Sweizeur/Plassy-App.git
[submodule "plassy-backend"]
	path = plassy-backend
	url = git@github.com:Sweizeur/Plassy-Backend.git
[submodule "plassy-contracts"]
	path = plassy-contracts
	url = git@github.com:Sweizeur/Plassy-Contracts.git
[submodule "plassy-frontend"]
	path = plassy-frontend
	url = git@github.com:Sweizeur/Plassy-Fontend.git
[submodule "plassy-scraper"]
	path = plassy-scraper
	url = git@github.com:Sweizeur/Plassy-Scraper.git
